$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #ff9800;
$white: #26a69a;
$pink: #c71585;
// $black: #000;
// $white: #fff;
// $pink: #ffc0cb;

body {
  font-size: 18px;
  background-color: $pink
}

p >
a {
  color: $pink;
  text-decoration: none;
}

p
> a:hover {
  color: $black;
  text-decoration: none;
  text-shadow: 0px 1px $black;
}

.total {
  background: $white;
}

section {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120px;
  text-align: center;
}

.shrink {
color: $black;
}

.sign-in-title {
  color: $black;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  text-align: center;
}

title {
  color: $black;
}

.big-button {
  background-color: $black;
  border: 0;
  color: $white;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120px;
  height: 300px;
  margin: 20px auto;
  text-align: center;
  width: 600px;
}
.little-button {
  background-color: $black;
  border: 0;
  color: $white;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  height: 50px;
  margin: 20px auto;
  padding: 1px;
  text-align: center;
  width: 150px;
}

.input-field {
  background: $white;
  border: 1px solid $black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  height: 25px;
  margin: 5px auto;
  width: 600px;
}

.navbar-brand {
  cursor: default;
}

.center {
  margin: 0 auto;
  text-align: center;
  width: 610px;
}
.center > ul {
  list-style-type: none;
  text-transform: uppercase;
}

.justify {
  font-size: 25px;
  margin: 0 auto;
  text-align: justify;
  width: 600px;
}
.navbar {
  background: $black;
  border-radius: 0;
  color: $white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.navbar-toggler {
  background: $black;
  border: 0;
  float: right;
  height: 32px;
  margin: 7px 7px 0;
  padding: 0;
  width: 32px;
}

.navbar-brand {
  background: $white;
  color: $black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.navbar-nav {
  list-style-type: none;
}

.nav-item {
  margin: 7px 0 0;
  padding: 0 15px;
}

.nav-item
> a {
  color: $white;
  text-decoration: none;
  width: 300px;
}

.nav-item
> a:hover {
  color: $black;
  background-color: $white;
}

#create-run .input-field {
  background: $white;
  border: 1px solid $black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  height: 35px;
  margin: 5px auto;
  width: 298px;
}

#update-run .input-field {
  background: $white;
  border: 1px solid $black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  height: 35px;
  margin: 5px auto;
  width: 298px;
}
